<h1>This is the secret page</h1>
<p>You found me</p>
<img src='https://mphcmiuedu-my.sharepoint.com/personal/ititiu15033_student_hcmiu_edu_vn/_layouts/15/guestaccess.aspx?docid=17f6660f41a9b4cd3978e88b15b01584e&authkey=AbQJEJiu6QCgCNhjJ_Tqx7E'>

<li><a href='/register'>Sign Up</a></li>
<li><a href='/login'>Log in</a></li>
<li><a href='/logout'>Log out</a></li>