/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2017, 5:56:06 PM
    Author     : huong
*/
body{
	background: linear-gradient(to right, #efefbb, #d4d3dd);
	margin: 0 auto;
}

th{
	background-color: #4CAF50;
    color: white;
    width: 25%;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
    padding: 15px;
    text-align: left;
}

#myself tr td:nth-of-type(2){
	width: 75%;
}

img{
	max-width: 400px;
	width: 80%;
}
table{
	margin: 0 auto;
}

h2{
	text-align: center;
}

#firstPart{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10%;
	background: gray;
	color: white;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: .3rem;
	font-weight: bold;
	font-style: italic;
	line-height: 1.5;
	background: url(https://udemy-images.udemy.com/course/750x422/260756_bac8_3.jpg);
	background-position: center;
}

#name{
	float: left;

}

#welcome{
	float: right;
	padding-right: 5%;
}

li{
	display: inline-block;
	font-size: 1.2em;
	width: 20%;
}

#firstPart img{
	float: left;
	width: 3.5%;
}

nav{
	background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;
	margin-top: 0;
}

ul{
	margin: 0 auto;
	padding-left: 0;
}

a{
	text-decoration: none;
	color:white;
}

a:hover{
	color: red;
	transition: all 0.4s;
}