<%include partials/header%>
<div class="page-header">
    <h1>Please choose your product</h1>
</div>
<select style="width: 50%;" class="form-control">
    <option>Shoe Cleaning</option>
    <option>Shoe Repairing</option>
    <option>Water Proofing</option>
    <option>Shoe Cleaning Tools</option>

</select>
<br>
<button style="width: 50%;" class="btn btn-success btn-block">Submit</button>
<%include partials/footer%>
<script>
    $('#product').addClass("active");
</script>