<%include partials/header%>
<br>
<form>
    <div class="form-group">
        Number of shoe
        <br>
        <input type="number" class="form-control" placeholder="Number of shoe">
    </div>

    <div class="form-group">
        Shoe Name
        <br>
        <input type="text" class="form-control" placeholder="Shoe Name">
    </div>

    <div class="form-group">
        Receiving time
        <br>
        <input type="time" class="form-control" placeholder="Receiving time">
    </div>

    <div class="form-group">
        Returning time
        <br>
        <input type="time" class="form-control" placeholder="Returning time">
    </div>
    <button style="width: 50%; margin: 0 auto;" class="btn btn-success btn-block">Submit</button>

</form>
<%include partials/footer%>
<script>
    $('#input').addClass("active");
</script>