<%include partials/header%>
<br>
<ul class="list-group">
    <li class="list-group-item">Customer: Luu Minh Quan</li>
    <li class="list-group-item">Number of shoe: 2</li>
    <li class="list-group-item">Shoe Name</li>
    <li class="list-group-item active">Nike Air Max 1</li>
    <li class="list-group-item active">Converse all star</li>
    <li class="list-group-item">Receiving time: 3PM - 4PM 22/11/2017</li>
    <li class="list-group-item">Returning time: 3PM - 4PM 24/11/2017</li>
    <li class="list-group-item">Phone Number: 0908324567</li>
    <li class="list-group-item">Address: 33 Nguyen Huu Canh, P22, Q.BT, TPHCM</li>
    <li class="list-group-item">Price: 150.000VND</li>
</ul>
<%include partials/footer%>
<script>
    $('#result').addClass("active");
</script>